esper/src/main/app/person.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json"
    xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:esper="http://www.mulesoft.org/schema/mule/esper" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/esper http://www.mulesoft.org/schema/mule/esper/current/mule-esper.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.8/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/esper http://www.mulesoft.org/schema/mule/esper/1.0/mule-esper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd">
  
   <esper:config name="Esper" configuration="esper-config.xml" doc:name="Esper"/>
   <spring:beans>
     <spring:bean class="org.mule.classes.MyUtilityClass"
                  name="MyUtilityClass">
                  </spring:bean>
    </spring:beans>
    
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <jms:activemq-connector name="Active_MQ1" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    
  
    <flow name="FirstLevel_ETPercentile">
        <jms:inbound-endpoint topic="RawExecutionTime" connector-ref="Active_MQ" doc:name="JMS VM"/>
        <json:json-to-object-transformer returnClass="org.mule.Visor_event" doc:name="JSON to Object"/>
        <esper:send config-ref="Esper" eventPayload-ref="#[payload]" eventName="Visor_event" doc:name="Esper"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="First Virtual Machine message for AverageResponseTime ESPER  &quot;#[payload]&quot;" level="INFO" doc:name="Logger"/>
    </flow>
 
      
    <flow name="Result_ETPercentile" >
        <esper:listen config-ref="Esper" statement="${host.rulefirst}" doc:name="Esper (Streaming)"/>
        <json:object-to-json-transformer doc:name="Object to JSON "/>
        <logger message="First Level ESPER Result for ETPercentile  &quot;#[payload]&quot;" level="INFO" doc:name="Logger 1"/>
        <jms:outbound-endpoint topic="ETPercentile" connector-ref="Active_MQ" doc:name="JMS_OUT"/>

    </flow>
    <flow name="Flow_ETPercentile_events">
        <jms:inbound-endpoint topic="ETPercentile" connector-ref="Active_MQ" doc:name="JMS VM IN"/>
        <json:json-to-object-transformer returnClass="org.mule.Visor_event_second" doc:name="JSON to Object"/>
        <esper:send config-ref="Esper" eventPayload-ref="#[payload]" eventName="Visor_event_second" doc:name="Esper"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="ETPercentile message to ESPER  &quot;#[payload]&quot;" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Flow_SimulationLeftNumber_events">
        <jms:inbound-endpoint topic="SimulationLeftNumber" connector-ref="Active_MQ" doc:name="JMS VM"/>
        <json:json-to-object-transformer returnClass="org.mule.Visor_event_third" doc:name="JSON to Object"/>
        <esper:send config-ref="Esper" eventPayload-ref="#[payload]" eventName="Visor_event_third" doc:name="Esper"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="SimulationLeftNumber message to ESPER  &quot;#[payload]&quot;" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Flow_RemainingSimulationTimeMetric_events">
        <jms:inbound-endpoint topic="RemainingSimulationTimeMetric" connector-ref="Active_MQ" doc:name="JMS VM"/>
        <json:json-to-object-transformer returnClass="org.mule.Visor_event_fourth" doc:name="JSON to Object"/>
        <esper:send config-ref="Esper" eventPayload-ref="#[payload]" eventName="Visor_event_fourth" doc:name="Esper"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="RemainingSimulationTimeMetric message to ESPER  &quot;#[payload]&quot;" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Flow_TotalCores_events">
        <jms:inbound-endpoint topic="TotalCores" connector-ref="Active_MQ" doc:name="JMS VM"/>
        <json:json-to-object-transformer returnClass="org.mule.Visor_event_fifth" doc:name="JSON to Object"/>
        <esper:send config-ref="Esper" eventPayload-ref="#[payload]" eventName="Visor_event_fifth" doc:name="Esper"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="WorkerCores message to ESPER  &quot;#[payload]&quot;" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="FinishTimeMargin">
        <esper:listen config-ref="Esper" statement="${host.rulesecond}" doc:name="Esper (Streaming)"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="Result of Function FinishTimeMargin &quot;#[payload]&quot;" level="INFO" doc:name="Logger 1"/>
        <jms:outbound-endpoint topic="FinishTimeMargin" connector-ref="Active_MQ" doc:name="JMS_OUT"/>
    </flow>
    <flow name="MinimumCores">
        <esper:listen config-ref="Esper" statement="${host.rulethird}" doc:name="Esper (Streaming)"/>
        <json:object-to-json-transformer doc:name="Object to JSON "/>
        <logger message="Result of Function MinimumCores &quot;#[payload]&quot;" level="INFO" doc:name="Logger 1"/>
        <jms:outbound-endpoint topic="MinimumCores" connector-ref="Active_MQ" doc:name="JMS_OUT"/>
    </flow>
    <flow name="Flow_FinishTimeMargin_events">
        <jms:inbound-endpoint topic="FinishTimeMargin" connector-ref="Active_MQ" doc:name="JMS VM IN FINAL"/>
        <json:json-to-object-transformer returnClass="org.mule.Visor_event_sixth" doc:name="JSON to Object"/>
        <esper:send config-ref="Esper" eventPayload-ref="#[payload]" eventName="Visor_event_sixth" doc:name="Esper"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="FinishTimeMargin message to ESPER  &quot;#[payload]&quot;" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="FinishTimeMarginCondition">
        <esper:listen config-ref="Esper" statement="${host.rulefourth}" doc:name="Esper (Streaming)"/>
        <json:object-to-json-transformer doc:name="Object to JSON "/>
        <logger message="Result of Scaling Event  &quot;#[payload]&quot;" level="INFO" doc:name="Logger 1"/>
        <jms:outbound-endpoint topic="SimulationNotFinishOnTime" connector-ref="Active_MQ" doc:name="JMS_OUT_FINAL"/>
    </flow>

    
   
</mule>